################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/Common/obj/Debug
/Common/bin/Debug
/CourseTests/bin/Debug
/CourseTests/obj/Debug
